html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* prevent horizontal scroll on zoom */
}

body {
  background-attachment: fixed; /* keeps background fixed on scroll, smoother */
  background-image: url('/bg.png');
  background-size: cover;       /* fills the container */
  background-position: center;  /* centers image */
  background-repeat: no-repeat; /* prevents tiling */
}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.title {
  color: #0d00ff;
}

h1.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #5e27de, #ff1acd);
  
  /* Gradient text compatibility */
  background-clip: text;            /* Standard */
  -webkit-background-clip: text;    /* Safari/Chrome */
  color: transparent;               /* Fallback text transparency */
  -webkit-text-fill-color: transparent; /* WebKit-specific transparency */

  text-align: center;
  margin: 0;
}


.room-boxes {
  display: flex;
  gap: 40px;
}

.btn.admin {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn.scoreboard {
  background-color: #007bff; /* blue */
  color: white;
}

